body,h1,h2,h3,h4,h5,h6,p,form {
    margin: 0;
}

body {
    text-align: center;
    font: 13px Verdana, "ו", sans-serif;
}

img {
    border: 0;
}

input,textarea {
    font-family: Verdana, "ו", sans-serif;
}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    color: #CC0000;
}

a:hover {
    text-decoration: underline;
}

#main {
    width: 1085px;
    margin: 0 auto;
    text-align: left;
}

#header {
    width: 760px;
    height: 110px;
    margin-left: 150px;
}

#header #logo {
    padding: 18px 0 0 24px;
    float: left;
}

#header #nav {
    margin-top: 60px;
    float: left;
    font-size: 16px;
    font-weight: bold;
}

#header #nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header #nav ul li {
    float: left;
    padding: 0 18px;
    border-right: 1px solid #000000;
}

#header #search {
    margin: 58px 0 0 24px;
    float: left;
}

#header #search input {
    border: 1px solid #999999;
    font-size: 14px;
}

#header #search .button {
    font-size: 12px;
    padding-top: 3px;
    border-top: 1px outset #FFFFFF;
    border-right: 1px outset #DCDCDC;
    border-bottom: 1px outset #DCDCDC;
    border-left: 1px outset #FFFFFF;
    background: #F0F0F0;
}

.leftspace {
    width:695px;
    margin:auto;
    display: inline;
}

#leftr {
    float: left;

    padding: 12px;

}

#leftr img {

}

#left {
    width:715px;margin:auto;

}

#left h1,#left h2,#leftr h2 {
    font-size: 14px;
    text-indent: 26px;
    color: #CC0000;
    background: #F0F0F0;
    padding: 6px 0 3px;
}

#left .guestbook,#left .map {
    text-indent: 0;
    padding: 0;
    background: #FFFFFF;
}

#left .map {
    text-indent: 40px;
    margin-bottom: 12px;
}

#left .intro,#leftr .intro {
    margin: 10px 0 6px;
    line-height: 1.5;
}

#left .other,#leftr .other {
    color: #333333;
    font-size: 12px;
    text-align: right;
    margin-bottom: 16px;
    padding: 0 12px 8px 0;
    border-bottom: 1px solid #FF3333;
}

#left .mapul {
    line-height: 1.5;
}

#left .mapul a:visited {
    color: #333333;
}

#left .guestbookpage {
    margin-top: 18px;
}

#left .mappage {
    text-indent: 40px;
}

#left #article {
    margin: 10px 0 24px;
    line-height: 1.5;
}

#left .author {
    color: #333333;
    font-size: 12px;
    text-align: right;
    padding: 0 6px 12px 0;
    border-bottom: 1px solid #FF3333;
}

#updown {
    margin-top: 12px;
    padding: 0 6px;
    height: 16px;
}

#downupdown {
    margin-top: 24px;
    padding-right: 16px;
    height: 16px;
}

.uplink {
    float: left;
}

.downlink {
    float: right;
}

.nolink {
    color: #000000;
    text-decoration: none;
}

#left #remark {
    clear: both;
    height: 24px;
}

#left .trackback {
    font-size: 12px;
}

#left .trackback input {
    border: 0;
    border-bottom: 1px solid #666666;
    cursor: hand;
}

#left h3 {
    font-size: 13px;
    color: #CC0000;

}

#left .style0,#left .style1 {
    font-size: 12px;
    text-indent: 9px;
    background: #F0F0F0;
    border-left: 3px solid #CC0000;
    margin: 15px 6px 0 0;
    padding: 5px 0 4px;
}

#left .content {
    font-size: 12px;
    margin-top: 9px;
    line-height: 1.4;
    word-break: break-all;
}

#left .reply {
    font-size: 12px;
    margin: 6px 26px 0 18px;
    padding: 6px 9px 4px;
    border: 1px dashed #FF3333;
    line-height: 1.4;
}

#left fieldset {
    margin: 24px 18px 12px 0;
    padding-left: 12px;
    border: 1px solid #FF3333;
}

#left fieldset legend {
    color: #CC0000;
    font-weight: bold;
    font-size: 14px;
}

#left fieldset table {
    margin: 8px 0 4px;
    font-size: 12px;
}

#left fieldset input,#left fieldset textarea {
    border: 1px solid #666666;
    font-size: 14px;
}

#left fieldset textarea {
    overflow: auto;
}

#left fieldset .button {
    border-color: #FFFFFF #DCDCDC #DCDCDC #FFFFFF;
    background: #F0F0F0;
    font-size: 12px;
    padding-top: 3px;
    border-style: outset;
}

#right {
    width: 200px;
    float: left;
    padding-top: 12px;
}

#right .list {
    margin: 0 0 24px 20px;
}

#right .list h2 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 6px;
    color: #CC0000;
}

#right .list ul {
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.4;
    word-break: break-all;
}

#right .list ul a {
    color: #000000;
}

#right .list ul a:hover {
    color: #CC0000;
}

#footer {
    clear: both;
    width: 695px;
    margin:auto;
    font-size: 12px;
    padding: 20px 0 10px;

}

#footer a {
    color: #000000;
    text-decoration: none;
}

#count {
    position: absolute;
    top: -1000px;
}

#linktogether {
    position: absolute;
    top: -1000px;
}